@model InternetERP.Web.ViewModels.Employee.Sales.CheckoutViewModel
@{
    this.ViewData["Title"] = "Checkout";
    decimal totalAmount = 0.0m;
}

@section AddToHead{
}

    <partial name="./Partial/_SaleGoodsSteps.cshtml" model="Model.Step" />

@if (Model.SaleId != null)
{
    Model.SaleId.BillInfo = Model.BillInfo;
    <partial name="./Partial/_SaleGoodsCustomer.cshtml" model="Model.SaleId" />
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">STOCK SUMMARY</h5>
                <span class="text-success">@Model.SuccessMsg</span>
                <form method="post" asp-area="Employee" asp-controller="SaleGoods" asp-action="Checkout">
                    <input type="hidden" asp-for="Step" value="@Model.Step" />
                    <input type="hidden" asp-for="BillId" value="@Model.SaleId.Id" />
                    <input type="hidden" asp-for="SaleInternetAccountId" value="@Model.InternetAccountInfo.InternetUserId" />
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Photo</th>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var sale in Model.Sales)
                                {
                                    totalAmount += sale.SellPrice * sale.StockQuantity;
                                    <tr>
                                        <td>no image</td>
                                        <td>@sale.Name</td>
                                        @if (sale.ProductId != null)
                                        {
                                            <td width="140">
                                                <input type="hidden" asp-for="StockIds" value="@sale.Id">
                                                <input type="number" style="text-align:center;" min="0" asp-for="Quantities"
                                               class="form-control"
                                               placeholder="@sale.StockQuantity" value="@sale.StockQuantity" />
                                            </td>
                                        }
                                        else
                                        {
                                            <td width="140" align="center">
                                                <span style="text-align:center;">
                                                    @sale.StockQuantity &nbsp;&nbsp;&nbsp;&nbsp;
                                                </span>
                                            </td>
                                        }
                                        <td class="font-500">$@sale.SellPrice</td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="3" class="font-500" align="right">
                                        Total Amount
                                    </td>
                                    <td class="font-500">$@totalAmount</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="font-500" align="center">
                                        <div class="form-actions mt-1 mb-1 float-end">
                                            <button type="submit"
                                                    class="btn btn-success rounded-pill px-4">
                                                Update quantity
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <hr />
                <h5 class="card-title">Choose payment Option</h5>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="nav-item">
                        <a href="#iprofile"
                           class="nav-link active"
                           aria-controls="home"
                           role="tab"
                           data-bs-toggle="tab"
                           aria-expanded="true">
                            <span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs"> Bank transfer</span>
                        </a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a href="#ihome"
                           class="nav-link"
                           aria-controls="profile"
                           role="tab"
                           data-bs-toggle="tab"
                           aria-expanded="false">
                            <span class="visible-xs"><i class="ti-user"></i></span>
                            <span class="hidden-xs">Paypal</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="ihome">
                        <br />
                        <div class="col-md-6 ms-auto float-start">
                            <br />
                            <form method="post" asp-area="Employee" asp-controller="Paypal" asp-action="CreatePayment">
                                <div class="modal-body m-3">
                                    <span class="text-info">Make PayPal payment for this sale Sale : $@totalAmount</span>
                                    <input type="hidden" asp-for="Amount" value="@totalAmount" />
                                    <input type="hidden" asp-for="BillId" value="@Model.SaleId.Id" />
                                    <input type="hidden" asp-for="Description" value="Make PayPal payment for this sale Sale : $@totalAmount" />
                                </div>
                                <div class="float-begin">
                                    <button class="btn pill btn btn-info">Buy with Paypal <i class="fab fa-paypal"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 ms-auto">
                            <h4 class="card-title mt-4">General Info</h4>
                            <h2>
                                <i class="fab fa-paypal text-info"></i>
                            </h2>
                            <p>
                                PayPal is the faster,
                                safer way to send money,
                                make an online payment,
                                receive money or set up a merchant account.
                                PayPal is for everyone who pays or gets paid.
                                PayPal connects buyers and sellers.
                            </p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="iprofile">
                        <div class="col-md-7 ms-auto float-start">
                            <br />
                            <form method="post" asp-area="Employee" asp-controller="Invoices" asp-action="CreateInvoice">
                                <div class="modal-body m-3">
                                    <span class="text-info">Make PayPal payment for this sale Sale : $@totalAmount</span>
                                    <input type="hidden" asp-for="BillId" value="@Model.SaleId.Id" />
                                </div>
                                <div class="float-begin">
                                    <button class="btn pill btn btn-info">Create Invoice <i class="mdi mdi-bank"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 ms-auto">
                            <h4 class="card-title mt-4">General Info</h4>
                            <h2>
                                <i class="me-2 mdi mdi-bank text-info"></i>
                            </h2>
                            <p>
                                A bank transfer is when money is sent from one bank account to another.
                                Transferring money from your bank account is usually fast,
                                free and safer than withdrawing and paying in cash.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function CheckForNegative() {

        }
    </script>
    }
