@model InternetERP.Web.ViewModels.Administration.Users.AllUsersViewModel

@using InternetERP.Common
@using InternetERP.Services.Data.Administration.Contracts
@using InternetERP.Services.Data.Contracts
@using Microsoft.AspNetCore.Identity
@using InternetERP.Data.Models

@inject UserManager<ApplicationUser> UserManager
@inject ICustomUsersService usersService
@inject IRolesService rolesService

@{
    ViewData["Title"] = "All Users";
}
<div class="container-fluid">
    <div class="row">
        <!-- Column -->
        <div class="col-lg-8 col-xl-9 col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block align-items-center mb-4">
                        <h4 class="card-title">All Users - (@Model.ItemsCount Total Users) </h4>
                        <div class="ms-auto">
                            <h5 class="card-title">Pages : @Model.PageNumber</h5>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="file_export"
                               class="table table-bordered nowrap display">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Role</th>
                                    <th>Joining date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.Users)
                                {
                                    var picUrl = string.IsNullOrEmpty(@user.ProfilePictureUrl) ? "~/images/website/users/2.jpg" : @user.ProfilePictureUrl;
                                    <tr>
                                        <td class="small">
                                            <img src="~/images/website/users/2.jpg" alt="user" class="rounded-circle" width="30" />
                                            @user.FirstName @user.LastName
                                        </td>
                                        <td class="small">@user.Email</td>
                                        <td class="small">@user.PhoneNumber</td>
                                        <td>
                                            @foreach (var role in user.Roles)
                                            {
                                                string roleName = await rolesService.GetRoleNameByIdAsync(role.RoleId);
                                                <span class="@this.rolesService.GetRolesStyles(roleName)">@roleName</span>
                                            }
                                        </td>
                                        <td class="small">@user.CreatedOn.ToString("dd-MM-yyyy")</td>
                                        <td>
                                            <a asp-area="Administration" asp-controller="Users" asp-action="Profile" asp-route-userId="@user.Id" class="sidebar-link">
                                                <i class="mdi mdi-account-network"></i><span class="hide-menu small"> User Profile</span>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->

    </div>
</div>
<partial name="_PagingPartial" model="@Model" />
