@model InternetERP.Web.ViewModels.Employee.Manager.ProductInputModelView
@{
    ViewData["Title"] = "Create Product";
}

<h1>Create Product</h1>
<div>
    <a class="text-white btn btn-primary m-2" asp-action="All">Back to All Products</a>
</div>
<hr />

<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form method="post" asp-area="Employee" asp-controller="Products" asp-action="Create" enctype="multipart/form-data">
                    <span class="text-success">@Model.Response</span>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-body">
                        <div class="form-actions mt-3 mb-3">
                            <button type="submit"
                                    class="btn btn-success rounded-pill px-4">
                                Save
                            </button>
                            @*<button type="button"
                                    class="btn btn-dark rounded-pill px-4">
                                Cancel
                            </button>*@
                        </div>
                        <h5 class="card-title">About Product</h5>
                        <hr />
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input type="text" class="form-control" placeholder="Product Name" asp-for="Name" value="@Model.Name" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <!--/row-->
                        @*                        <div class="row">
                        <div class="col-md-6">
                        <div class="mb-3">
                        <label class="control-label">Category</label>
                        <select class="form-select"
                        data-placeholder="Choose a Category"
                        tabindex="1">
                        <option value="1">Goods</option>
                        <option value="2">Service</option>
                        </select>
                        </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                        <div class="mb-3">
                        <label>Status</label>
                        <br />
                        <div class="form-check">
                        <input type="radio"
                        id="customRadioInline1"
                        name="customRadioInline1"
                        class="form-check-input" />
                        <label class="form-check-label"
                        for="customRadioInline1">Publish</label>
                        </div>
                        <div class="form-check">
                        <input type="radio"
                        id="customRadioInline2"
                        name="customRadioInline1"
                        class="form-check-input" />
                        <label class="form-check-label"
                        for="customRadioInline2">Draft</label>
                        </div>
                        </div>
                        </div>
                        <!--/span-->
                        </div>*@
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="SellPrice" class="control-label"></label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="ti-money"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="SellPrice" aria-label="SellPrice" asp-for="SellPrice" aria-describedby="basic-addon1" />
                                    </div>
                                    <span asp-validation-for="SellPrice" class="text-danger"></span>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="BayPrice" class="control-label"></label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="ti-money"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="BayPrice" aria-label="BayPrice" asp-for="BayPrice" aria-describedby="basic-addon1" />
                                    </div>
                                    <span asp-validation-for="BayPrice" class="text-danger"></span>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="StockQuantity" class="control-label"></label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fas fa-align-justify"></i>
                                        </span>
                                        <input type="text" class="form-control"
                                               placeholder="StockQuantity"
                                               aria-label="StockQuantity"
                                               asp-for="StockQuantity"
                                               aria-describedby="basic-addon1"
                                               value="@Model.StockQuantity" />
                                    </div>
                                    <span asp-validation-for="StockQuantity" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title mt-2">Product Description</h5>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <textarea class="form-control" asp-for="Description" rows="4">@Model.Description</textarea>
                                </div>
                            </div>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <!--/row-->
                        <div class="row">
                            <!--/span-->
                            <h5 class="card-title mt-3">Upload Image</h5>
                            <input type="hidden" asp-for="ImageUrl" value="@Model.ImageUrl" />
                            <div class="btn btn-info waves-effect waves-light mt-3">
                                <span>Upload Anonther Image</span>
                                <input type="file" asp-for="ImageUpload" class="upload" />
                            </div>
                        </div>
                    </div>
                    <div class="form-actions mt-3">
                        <button type="submit"
                                class="btn btn-success rounded-pill px-4">
                            Save
                        </button>
                        @*<button type="button"
                                class="btn btn-dark rounded-pill px-4">
                            Cancel
                        </button>*@
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }